@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* --------------------------------------------------
                    global atribute start
----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: hidden;
    font-family: poppins;
}
:root {
    --main-color: white;
    --border-color: gray;
    --black-text: black;
    --white-text:white;
    --gray-text: gray;
    --brown-text: brown;

    --pane-padding: 5px 42px;
  }

  button {
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 20px; 
    border: none;
}
a{
    text-decoration: none;
}
/* --------------------------------------------------
                    /global atribute end
----------------------------------------------------*/



/* --------------------------------------------------
                    header start
----------------------------------------------------*/

.top-banner {
    background-image: url(./images/donation7.jpg);
    width: 1440px;
    height: 669px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    padding: 130px;
}

.banner-text {
    margin: 105px 207px;
}

.banner-text h1 {
    
    font-weight: 600;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
}

.banner-text p {
    font-size: 18px;
    color: #FFFFFF;
}
/* --------------------------------------------------
                    /header end
----------------------------------------------------*/
/* --------------------------------------------------
                    /donate today start
----------------------------------------------------*/

.donate-today{
    margin: 50px 250px;
}
.donate-today h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}
.donate-today p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}

.donat-card{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.donate-amount{
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
}
.donate-amount h2{
    padding-left: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #707070;
}
#card{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.amount-sent{
    margin: 60px 200px;
    text-align: center;
}
.amount-sent p{
    color: #B3B3B3;
}
/* ================ our-plan ================ */
.our-plan {
    padding: 30px;
}

.plan-text {
    text-align: center;
    padding: 30px 60px;
}

.plan-text h1 {
    font-size: 40px;
}

.plan-text p {
    font-size: 15px;
}

.planing {
    display: flex;
}

.box {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#color1 {
    background-color: rgb(179, 40, 40);
}

#color2 {
    background-color: rgb(185, 158, 158);
}

#color3 {
    background-color: rgb(168, 131, 131);
}
/* ================ donation ================ */
.donation{
    margin: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}
.donation-left{
    width: 50%;
    text-align: left;
    align-items: center;
}
.donation-right img{
    width: 50%;
}
/* ---  */
.donation-lefts img{
    width: 50%;
}
.donation-rights {
    width: 50%;
    text-align: left;
    align-items: center;
}
/* ================ footer ================ */
.updates{
    text-align: center;
    background-color: rgb(202, 94, 237);
    margin: 60px 100px;
    padding: 60px 20px;
}
input{
    border: none;
    background-color: rgb(161, 68, 68);
    height: 35px;
    width: 25%;
    border-radius: 10px;
}

/* ================ footer ================ */
.foot {
    background-color: black;
    color: brown;
    text-align: center;
    padding: 40px;
}